{% extends "dashboard/dashboard_base.html"%}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
{% endblock %}



{% block main_content %}

<div class="container-fluid">

    <div class="card mt-2">
        <div class="card-header">
            <a href="{% %}" class="btn btn-primary">
                <i data-feather="plus"></i>
                 start a new list
            </a>
        </div>

        <div class="card-body">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Names</th>
                        <th>username</th>
                        <th>code</th>
                    </tr>
                </thead>
                <tbody>
                    {% if attendance_codes %}
                    {% for code in attendance_codes %}
                    <tr>
                        <td>{{ code.user.first_name }} {{ code.user.last_name}}</td>
                        <td>{{ code.user.username }}</td>
                        <td>{{ code.code }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <th>-</th>
                    <th>No Codes</th>
                    <th>-</th>
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Names</th>
                        <th>username</th>
                        <th>code</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{% endblock %}