{% extends "dashboard/dashboard_base.html"%}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

    $(document).ready(function () {
        $('#all-attendances').DataTable();
    });
</script>
{% endblock %}



{% block main_content %}

<div class="container-fluid">

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Attendance List</h5>
                    <button type="button" class="btn btn-icon" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle"></i>
                    </button>

                </div>
                <form action="" method="post"> {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="" class="form-label">Description</label>
                            <textarea required class="form-control" name="description" id="" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mt-2">
                <div class="card-header">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modelId">
                        <i data-feather="plus"></i>
                        new event
                    </button>
                </div>

                <div class="card-body">
                    <table id="example" class="table table table-borderless" style="width:100%">
                        <thead>
                            <tr>
                                <th>event</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if events %}
                            {% for event in events %}
                            <tr>
                                <td>
                                    <h2>{{ event.name }}</h2>
                                    <p>{{}}</p>
                                </td>
                                <td>{{ code.code }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <th>-</th>
                            <th>No Codes</th>
                            <th>-</th>
                            {% endif %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>username</th>
                                <th>code</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mt-2">

                <div class="card-body">
                    <h4>All Attendances</h4>
                    <hr>
                    <table id="all-attendances" class="table table-borderless" style="width:100%">
                        <thead>
                            <tr>
                                <th>details</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if attendances %}
                            {% for att in attendances %}
                            <tr>
                                <td>
                                    <div class="d-flex flex-column">
                                        <span class="badge badge-primary p-2" style="border-radius: 0%;">
                                            {{ att.date }}</span>
                                        <div class="card" style="border-radius: 0%;">
                                            <div class="card-body">
                                                {{ att.description}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-column">
                                        <a href="" class="btn btn-sm mb-3 btn-danger">
                                            delete <i data-feather="delete" class="mx-2" style="font-size: 1rem;"></i>
                                        </a>
                                        <a href="" class="btn btn-sm btn-info">
                                            more <i data-feather="corner-up-right" class="mx-2" style="font-size: 1rem;"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <th>-</th>
                            <th>No Codes</th>
                            <th>-</th>
                            {% endif %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}