{% extends "dashboard/dashboard_base.html"%}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

    $(document).ready(function () {
        $('#all-attendances').DataTable();
    });
</script>
{% endblock %}



{% block main_content %}

<div class="container-fluid">

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Event</h5>
                    <button type="button" class="btn btn-icon" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle"></i>
                    </button>

                </div>
                <form action="{% url 'events'%}" method="post"> {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <input type="text" name="name" class="form-control" placeholder="name">
                        </div>
                        <div class="mb-3">
                            <textarea required class="form-control" placeholder="description" name="description" id=""
                                rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mt-2">
                <div class="card-header">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modelId">
                        <i data-feather="plus"></i>
                        new event
                    </button>
                </div>

                <div class="card-body">
                    <table id="example" class="table table table-borderless" style="width:100%">
                        <thead>
                            <tr>
                                <th>event</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if events %}
                            {% for event in events %}
                            <tr>
                                <td>
                                    <h2>
                                        <a href="{% url 'event_details' event.id%}">{{ event.name }}</a>
                                    </h2>
                                    <p>{{ event.description }}</p>
                                </td>
                                <td>
                                    <div class="d-flex flex-column">
                                        <a href="" class="btn mb-3 btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#newattendancemodal">
                                            newlist <i data-feather="plus" class="mx-2" style="font-size: 1rem;"></i>
                                        </a>
                                        <hr>
                                        <a href="{% url 'event_delete' event.id%}" class="btn btn-sm btn-danger">
                                            remove <i data-feather="delete" class="mx-2" style="font-size: 1rem;"></i>
                                        </a>
                                    </div>

                                    <!-- modal to make a new list -->
                                    <div class="modal fade" id="newattendancemodal" tabindex="-1" role="dialog"
                                        aria-labelledby="modelTitleId" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">New Attendance for event - {{ event.name  }}</h5>
                                                    <button type="button" class="btn btn-icon" data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                        <i class="bi bi-x-circle"></i>
                                                    </button>
                                                </div>
                                                <form action="{% url 'start_attendance' event.id %}" method="post"> {% csrf_token %}
                                                    <div class="modal-body">
                                                        <div class="mb-3">
                                                            <textarea required class="form-control"
                                                                placeholder="description" name="description" id=""
                                                                rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <th>-</th>
                            <th>No evnts</th>
                            <th>-</th>
                            {% endif %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mt-2">

                <div class="card-body">
                    <h4>All Attendances</h4>
                    <hr>
                    <table id="all-attendances" class="table table-borderless" style="width:100%">
                        <thead>
                            <tr>
                                <th>details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if attendances %}
                            {% for att in attendances %}
                            <tr>
                                <td>
                                    <h2><a href="{% url 'attendance_details' att.id %}">{{ att.event }} - {{ att.date }}</a></h2>                                          
                                    <p>{{ att.description}}</p>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <th>-</th>
                            <th>No Codes</th>
                            <th>-</th>
                            {% endif %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}