{% extends "dashboard/dashboard_base.html"%}


{% block scripts %}

{% endblock %}



{% block main_content %}

<div class="contgainer-fluid">

    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    Ea
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    Ea
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    Ea
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    Ea
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}