{% extends "dashboard/dashboard_base.html"%}


{% block scripts %}

{% endblock %}



{% block main_content %}

<div class="contgainer-fluid">

    <div class="row g-3 mx-2">
        <div class="col-3 p-2">
            <div class="card">
                <div class="card-body">
                    <h4>Active Members</h4>
                    <p class="display-2">23</p>
                </div>
            </div>
        </div>
        <div class="col-3 p-2">
            <div class="card">
                <div class="card-body">
                    <h4>Active Members</h4>
                    <p class="display-2">23</p>
                </div>
            </div>
        </div>
        <div class="col-3 p-2">
            <div class="card">
                <div class="card-body">
                    Dumy text here
                </div>
            </div>
        </div>
        <div class="col-3 p-2">
            <div class="card">
                <div class="card-body">
                    Dumy text here
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}