{% extends "dashboard/dashboard_base.html"%}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

    $(document).ready(function () {
        $('#all-attendances').DataTable();
    });
</script>
{% endblock %}



{% block main_content %}

<div class="container-fluid py-2">

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2>{{ event }}</h2>
                    <hr>
                    <p>{{ event.description }}</p>
                    <p>
                        state <span class="badge badge-primary p-2">ongoing</span>
                         <span></span>
                    </p>
                    <hr>
                    <br>
                    <div class="flex">
                        <a href="" class="btn btn-danger">
                            delete event
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card p-2">
                <table id="example" class="table table table-stripped" style="width:100%">
                    <thead>
                        <tr>
                            <th>user</th>
                            <th>event code</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if attendance_codes %}
                        {% for code in attendance_codes %}
                        <tr>
                            <td>
                                {{ code.user.username }}
                            </td>
                            <td>
                                {{ code.code }}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <th>-</th>
                        <th>No codes </th>
                        <th>-</th>
                        {% endif %}
                    </tbody>
                    
                </table>  
            </div>
        </div>
    </div>
</div>
{% endblock %}