{% extends "dashboard/dashboard_base.html"%}


{% block scripts %}

{% endblock %}



{% block main_content %}

<div class="container-fluid py-2">

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2>{{ event }}</h2>
                    <hr>
                    <p>{{ event.description }}</p>
                    <p>
                        state <span class="badge badge-primary p-2">ongoing</span>
                    </p>
                    <hr>
                    <div class="flex">
                        <a href="" class="btn btn-danger">
                            delete event
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}