{% extends "dashboard/dashboard_auth_base.html"%}

{% block main_content %}
{% load static %}
<div class="container-fluid d-flex flex-column flex-1 justify-content-center align-items-center">
    <div class="row justify-content-center p-2 login-card" style="max-width: 420px;min-width: 320px;">

        <div class=" p-3 d-flex justify-content-center">
            <img width=60 height=60 src="{% static 'assets/img/udicti-logo.jpeg' %}" alt="udictihub logo">
        </div> 
        <br>

        <div class=" mdc-card w-100 p-3">
            <div class="forgot">
                <h2>Forgot your password?</h2>
                <p>Change your password in three easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                    <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
                    <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
                </ol>
            </div>
            <form class="card mt-4" action="/forgot-password/" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger">{{error}}</div>
                    {% endif %}

                    {% if sent == True %}
                        <div class="alert alert-success">
                            <h5>An email email has been sent to your email, check it.</h5>
                            <p>If you did not receive the email try resubmiting your email address.</p>
                        </div>
                    {% endif %}

                    <div class="mui-textfield mui-textfield--float-label">

                        <input class="form-control" type="email" name="email" id="email-for-pass" required="">
                        <label class="help-text">Enter your email address</label>
                        <hr>
                        <small class="form-text text-muted">
                            Enter the email address you used during the registration for Udictihub. Then we'll email
                            a link to this address.
                        </small>
                    </div>
                </div>
                <div class="card-footer d-flex flex-column ">
                    <button class="btn btn-sm btn-success" type="submit">Get
                        New Password</button>
                    <a class="btn btn-sm text-white bg-danger" href="/login/">
                        <i class="like"></i>
                        Back to Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}