{% extends "dashboard/dashboard_auth_base.html" %}


{% block main_content %}


<div class="card shadow-md " style="overflow:hidden;max-width: 540px;">

        <div class="row g-3">

            <div class="col-md-6 w-100 d-flex flex-column p-4 bg-light justify-content-center align-items-center">
                    <h2 class="display-6"> Login Page</h2>
                    <p>After requesting to become among the contributors,
                        You are provided with login credentials.
                    </p>
                    <p>Use provided credentials to login in to this dashboard.</p>
            </div>
            <div class="col-md-6 w-100 p-4">
                <div class="login-form w-100">
                    <form action="{% url 'login'%}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" required class="form-control w-100" placeholder="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" required class="form-control w-100" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-black">Login</button>
                    </form>
                </div>
            </div>
    </div>
</div>

{% endblock %}