{% extends "dashboard/dashboard_base.html"%}


{% block scripts %}

{% endblock %}



{% block main_content %}

<div class="container-fluid">

    <div class="row g-3">
        <div class="col-md-3">
            <div class="card mt-2" style="overflow: hidden;">
                <div class="text-white p-2 bg-secondary">
                    <label for="">{{user.profile.admission_data}}</label>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center">
                    {% if user.profile.profile_pic %}
                    <img height="45" src="{{member.profile.profile_pic}}" alt="">
                    {% else %}
                    <i class="bi bi-person" style="font-size: 120px;"> </i>
                    {% endif %}
                    @{{ member.username }}
                </div>
                <div class="d-flex w-100">
                    <ul class="list-group w-100">
                        <li class="list-group-item d-flex justify-content-between align-items-center active">
                            {{ member.first_name }} {{ member.last_name }}

                            {% if member.is_active == True %}
                            <span class="badge bg-secondary badge-pill">active</span>
                            {% else %}
                            <span class="badge bg-dark badge-pill">inactive</span>
                            {% endif %}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Projects
                            <span class="badge bg-secondary text-white badge-pill">{{ member.projects.count}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center disabled">
                            Posts
                            <span class="badge bg-secondary text-white badge-pill">{{ member.posts.count}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center disabled">
                            Comments
                            <span class="badge bg-secondary text-white badge-pill">{{ member.comments.count}}</span>
                        </li>
                        
                    </ul>
                </div>
            </div>

            <div class="card bg-secondary mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4 for="" class="text-center text-white">Attendances in</h4>
                            <label class="text-white display-4 text-center w-100 text-secondary" for="">3</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card mt-2">
                <div class="card-header">
                    <i data-feather="activity"></i>
                    Activity | <small>joined on {{member.date_created}}</small> | Last login {{member.last_login}}
                </div>
                <div class="card-body">
                    No activity
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header">
                    <i data-feather="pen-tool"></i>
                    Projects
                </div>
                <div class="card-body">
                    No Projects
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header">
                    <i data-feather="hash"></i>
                    Posts
                </div>
                <div class="card-body">
                    No Posts
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header">
                    <i data-feather="message-square"></i>
                    Comments
                </div>
                <div class="card-body">
                    No Comments
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header">
                    <i data-feather="thumbs-up"></i>
                    Likes
                </div>
                <div class="card-body">
                    No Likes
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card mt-2">
                <div class="card-header">
                    Quick Actions
                </div>
                <div class="card-body d-flex flex-column">
                    <button class="btn mb-3 btn-sm btn-primary d-flex">
                        <i class="mx-2" data-feather="mail"></i>
                         email member
                    </button>

                    <button class="btn btn-sm btn-primary">
                        <i class="mx-2" data-feather="bell"></i>
                         notify member
                    </button>
                    
                    <a href="{% url 'send_activation_to_one' member.id %}" class="btn mt-3 mb-3 btn-sm btn-success">
                        <i class="mx-2" data-feather="maximize"></i>
                         resend activation link
                    </a>

                    <hr>
                    <small class="text-danger">Danger zone</small>
                    
                    

                    <hr>
                    <a href="{% url 'activate-member' member.id %}" class="btn mb-3 btn-sm btn-success">
                        <i class="mx-2" data-feather="maximize"></i>
                         Activate member
                    </a>
                    
                    <a href="{% url 'deactivate-member' member.id %}" class="btn mb-3 btn-sm btn-info">
                        <i class="mx-2" data-feather="delete"></i>
                         Deactivate member
                    </a>

                    <button class="btn btn-sm btn-danger">
                        <i class="mx-2" data-feather="delete"></i>
                         Delete member
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}