{% extends "dashboard/dashboard_auth_base.html"%}

{% block main_content %}
{% load static %}
<div class="container-fluid d-flex flex-column flex-1 justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center justify-content-center" style="max-width: 420px;min-width: 320px;">

        <div class=" p-3 d-flex justify-content-center">
            <img width=60 height=60 src="{% static 'assets/img/udicti-logo.jpeg' %}" alt="udictihub logo">
        </div>
        <br>

        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h4 class="text-center">Enter a new Password</h4>
            </div>
            <form class="card mt-4" action="/add-new-password/" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <input hidden type="email" name="email" value="{{ user.email }}">
                        <input type="password" name='password' class="p-2" required>
                        <label>password</label>
                        <small id="passwordHelpBlock" class="form-text text-muted" style="font-size: 12px;">
                            Your password must be 8-20 characters long, contain letters and numbers, and must not
                            contain spaces, special characters, or emoji.
                        </small>
                    <div class="mui-textfield mui-textfield--float-label">
                        <input type="password" name='verify_password' class="p-2" required>
                        <label>verify password</label>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn w-100 btn-sm btn-success" type="submit">
                        SAVE
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}