{% extends "dashboard/dashboard_base.html"%}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
{% endblock %}

{% block main_content %}

<div class="row mt-3 container-fluid">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body mb-3">
                <h3 class="text0center">
                    {{ team.name }}
                </h3>

                <div class="mb-3">
                    <p>
                        {{nmembers }} - members
                        {{ progress}}
                    </p>
                </div>
                <hr>

                <div class="mb-3">
                    <a href="#" class="btn btn-primary"> Edit Name</a>
                </div>
                <hr>
                Danger zone
                <div class="my-3">
                    <a href="#" class="btn btn-danger">Delete team</a>
                </div>
                

                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body mb-3">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>member</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if members %}
                        {% for member in members %}
                        <tr>
                            <td>
                                <a href="{% url 'team-view' team.id%}">
                                    {{member}}
                                </a>
                                {% if team.leader == member %}
                                <span class="badge bg-primary">leader</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <th>No teams yet</th>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}