{% extends "dashboard/dashboard_base.html"%}


{% block scripts %}

{% endblock %}



{% block main_content %}

<div class="row p-3">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <h4>
                    Add a new team
                </h4>
                <hr>
                <div class="form">
                    <form action="">
                        <div class="input-group">
                            <input type="text" placeholder="team name" class="form-control">
                            <input type="submit" class="btn btn-primar btn-sm btn-primary"  value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                
            </div>
    </div>
    <div class="col-md-5">

    </div>
</div>

{% endblock %}