{% extends "dashboard/dashboard_base.html"%}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
{% endblock %}

{% block main_content %}

<div class="row mt-3 container-fluid">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body mb-3">
                <h3 class="text0center">
                    {{ team.name }} 
                    <br>
                    <span class="badge">
                        <a href="#" class="btn btn-sm"> Edit Name</a>
                    </span>
                </h3>

                <div class="mb-3">
                    <p>
                        <b>{{nmembers }}</b> - members
                        <b>{{ per_progress}} % </b> - progress
                    </p>
                    <p>
                        led by: {{ team.leader }}
                    </p>
                </div>
                <hr>

                <div class="mb-3">
                    <form action="">
                        <input type="text" name="search" class="form-control">
                    </form>
                </div>
                

                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body mb-3">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>member</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if members %}
                        {% for member in members %}
                        <tr>
                            <td>
                                <a href="{% url 'team-view' team.id%}">
                                    {{member}}
                                </a>
                                {% if team.leader == member %}
                                <span class="badge bg-primary">leader</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <th>No teams yet</th>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="mb-3 d-flex" style="min-height: 320px;min-width: 100%;">
    <div class="card w-100" style="min-height: 100%;">
        <div class="card-body">
            <h4>Progress graph</h4>
            <hr>

        </div>
    </div>
</div>

{% endblock %}