{% extends "dashboard/dashboard_base.html"%}


{% block scripts %}

{% endblock %}



{% block main_content %}

<div class="row p-3">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <h4>
                    Add a new team
                </h4>
                <hr>
                <div class="form">
                    <form action="">
                        <div class="input-group">
                            <input type="text" placeholder="team name" class="form-control">
                            <input type="submit" class="btn btn-primar btn-sm btn-primary"  value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card mt-3 mb-3">
            <div class="card-body">
                <h4>All teams</h4>
                <hr>
                None
            </div>
        </div>
    </div>
    <div class="col-md-5">

        <div class="card">
            <div class="card-body row g-3">
                <div class="card bg-primary text-white col-md-5 p-3">
                    <h5 class="text-white">Most Active User</h5>
                    <hr>
                </div>
                <div class="card col-md-5 p-3">
                    <h5>Most Active</h5>
                    <hr>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}